#head{
    color:greenyellow;
    text-align: center;
}
#left{
    height:850px;
    background-color:#211640;
    padding:100px;
    color:white;
}
.mid{
    text-align: center;
    padding:2%;
}
.right{
    display:inline-block;
}
.submit1{
    width:50%;
    font-weight:bold;
    font-size:18px;
    background-color:greenyellow
}

.mid2{
    color:white;
}
.block{
    display:block;
}
.hell{
    width:350px;
    height:300px;
    padding:25px;
    background-color:#211640;
    color:white
}